{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test filtering</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
Permissions: {{ perms.groups }}<br>
<hr>
Menu {{ menu_list }}
<hr>
{% if menus_list %}
    {% for menu in menu_list %}
        <a href="{{ menu.href }}">{{ menu.titel }}</a>
    {% endfor %}
{% else %}
    No menu items!
{% endif %}
<hr>
<a href="{% url 'pages:home' %}">Home</a>
<a href="/admin/">Admin</a>
<a href="{% url 'pages:superuser-toggle' %}">Superuser ({{ user.is_superuser }})</a>
{% if perms.projects %}
    <a href="{% url 'projects:list' %}">Projects</a>
{% endif %}
{% if perms.surveys %}
    <a href="{% url 'surveys:list' %}">Surveys</a>
{% endif %}
{% if perms.measurements %}
    <a href="{% url 'measurements:list' %}">Measurements</a>
{% endif %}
<p>
    User: {{ user }}
</p>
<hr>
{% block content %}
{% endblock %}
</body>
</html>